html {
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
  line-height: 1.5;
  color: #53605e;
  margin: 0;
  padding: 0;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  text-decoration: none;
}

a {
  color: inherit;
  cursor: pointer;
}
